<!DOCTYPE html>
<html>
	<head>
		<title>{{opts.siteName}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="js/metisMenu.min.js"></script>
		<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script> -->
		<!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" /> -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/ocha-style.css">
		<link rel="stylesheet" href="css/main.css">


		<link rel="shortcut icon" href="media/favicon.ico" type="image/x-icon">
		<link rel="icon" href="media/favicon.ico" type="image/x-icon">
	</head>
	<body>

		{{#if user}}
		<!-- Navigation -->
		<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
		<nav id="sidebar-wrapper">
				<ul id="side-menu" class="sidebar-nav metismenu">
						<a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
						<li class="sidebar-brand">
								<a href="{{location}}" >Home</a>
						</li>
						<li>
								<a href="#">Summary <i class="fa nav-arrow nav-float-right"></i></a>
								<ul class="second-level">
										<li>
												<a href="progress" class="">Overall progress</a>
										</li>
										<li>
												<a href="hardware" class="">Hardware indicators</a>
										</li>
										<li>
												<a href="software" class="">Software indicators</a>
										</li>
								</ul>
						</li>
						<li>
								<a href="gallery"><i class="fa fa-fw fa-picture-o"></i> &nbsp; Gallery</a>
						</li>
						<li>
								<a href="#">Interventions<i class="fa nav-arrow nav-float-right"></i></a>
								<ul class="second-level">
										<li>
												<a href="ccg"><i class="fa fa-fw fa-money"></i> &nbsp; Conditional cash grants</a>
										</li>
										<li>
												<a href="sted"><i class="fa fa-fw fa-briefcase"></i> &nbsp; STED</a>
										</li>
										<!-- <li>
												<a href="core-shelter"><i class="fa fa-fw fa-home"></i> &nbsp; Core shelter</a>
										</li> -->
										<li>
												<a href="spot-maps"><i class="fa fa-fw fa-map-o"></i> &nbsp; SPOT maps and CAPs</a>
										</li>
								</ul>
						</li>

						<li style="border-top:1px solid #6d6e70;">
							<form id="form-logout" style="display:none;" class="navbar-form" role="form" action="user/logout" method="POST"></form>
							<a href="#top"  onclick = document.getElementById('form-logout').submit(); >{{user.username}}
								<span class="logout nav-float-right">Logout &nbsp;<i class="fa fa-sign-out"></i></span>
							</a>
						</li>
						{{#eq user.permissions "super"}}
							<li>
								<a href="admin"><i class="fa fa-database"></i> &nbsp; Manage database</a>
							</li>
							<li>
								<a href="users"><i class="fa fa-user"></i> &nbsp; Manage users</a>
							</li>
						{{/eq}}

				</ul>
		</nav>
		{{/if}}


			<div id="site-content">
				{{{body}}}
			</div>


<script>
// # closes the sidebar menu
$("#menu-close").click(function(e) {
		e.preventDefault();
		$("#sidebar-wrapper").toggleClass("active");
});
// # opens the sidebar menu
$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#sidebar-wrapper").toggleClass("active");
});
// # creates the dropdowns in the sidebar menu
$(function() {
    $('#side-menu').metisMenu();
});
</script>

</body>
</html>
