.form_list {
	list-style:none;
	padding-left:0;
}
#addGoalForm .form-group {
	max-height:0;
	transition:max-height .5s ease;
	overflow:hidden;
}
#addGoalForm .form-group:first-child, #addGoalForm .valid + .form-group {
	max-height:800px;
}
#addGoalForm .form-group li {
	max-height:none;
	overflow:hidden;
}

#addGoalForm .form-group:last-child.valid {
	max-height:500px;
}
#goal_cases {
	list-style:none;
	padding-left:0;
}
#goal_cases li {
	overflow:auto;
}
.case_output {
	border:0;
	background:none;
	padding:0;
}
