<style>
.card {
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card img {
  max-width: 100%;
  max-height: 100px;
}
.card-logo {
  padding: 12px 12px 6px 12px;
}
.resources-card img {
  max-height: none;
}
.card-text {
  padding: 6px 12px 12px 12px;
}
.nav li {
  cursor: pointer;
}
.row-category.hidden {
  display:none;
}
</style>

<div class="container">

<header class="row header">
	<div class="col-md-12">
		<h1>Assets </h1>
	</div>
</header>

<hr>

<!-- "Home": ["General", "Programs", "Operations", "Finance"],
"Programs": ["Cross-sector","Shelter", "WASH", "Livelihoods", "Health", "DRR"],
"Finance": [""],
"Operations": ["HR/Admin/IT", "Procurement", "Logistics"],
"M&E": [""],
"Other": [""],
"Analytics": ["Cross-cutting", "Livelihoods", "WASH"] -->

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a id="hometab" onClick="changeCat('Home', this);">Home</a></li>
  <li role="presentation"><a onClick="changeCat('Programs', this);">Programs</a></li>
  <li role="presentation"><a onClick="changeCat('Finance', this);">Finance</a></li>
  <li role="presentation"><a onClick="changeCat('Operations', this);">Operations</a></li>
  <li role="presentation"><a onClick="changeCat('M&amp;E', this);">M&amp;E</a></li>
  <li role="presentation"><a onClick="changeCat('Other', this);">Other</a></li>
</ul>

<div id="documents-wrapper"></div>


<hr>
<footer id="site-footer">
	<div class="row row-logo">
				{{{logos}}}
			</div>
</footer>

</div> <!-- / container -->

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var typeIcon = function(extension){
  switch(extension) {
    case ".doc":
    case ".docx":
      return '<i class="fa fa-fw fa-file-word-o"></i> '
      break;
    case ".jpeg":
    case ".jpg":
    case ".png":
      return '<i class="fa fa-fw fa-file-image-o"></i> '
      break;
    case ".pdf":
      return '<i class="fa fa-fw fa-file-pdf-o"></i> '
      break;
    case ".ppt":
    case ".pptx":
      return '<i class="fa fa-fw fa-file-powerpoint-o"></i> '
      break;
    case ".xls":
    case ".xlsm":
    case ".xlsx":
      return '<i class="fa fa-fw fa-file-excel-o"></i> '
      break;
    case ".zip":
      return '<i class="fa fa-fw fa-file-archive-o"></i> '
      break;
    default:
      return '<i class="fa fa-fw fa-file-o"></i> '
  }
};


var documents;
function getData(){
  $.ajax({
    type: 'GET',
    url: 'api/assets'
  }).done(function(data){
    documents = data.response.filter(function(d){ return d.published; }).filter(function(d){ return d.category !== "Analytics"; });
    buildPage();
  });
}

function changeCat(cat, navli){
  d3.select('.nav').selectAll('li').classed('active',false)
  $(navli).parent().addClass('active');
  var rows = d3.selectAll('.row-category');
  rows.classed('hidden',true);
  rows.filter(function(d){ return d3.select(this).attr('data-category') === cat }).classed('hidden', false);

}

function buildPage(){

  var nested = d3.nest()
      .key(function(d) { return d.category; })
      .key(function(d) { return d.group; })
      .entries(documents);

  var docHtml = "";
  $.each(nested, function(a, category){
    docHtml += '<div class="row row-category" data-category="' + category.key + '">';
    $.each(category.values, function(b, group){
      docHtml += '<div class="row"><h3>';
      docHtml += (group.key !== "undefined") ? group.key : "";
      docHtml += '</h3></div>';
      docHtml += '<div class="row">';
      $.each(group.values, function(c, file){
        if(c !== 0 && c%3 === 0){
          docHtml += '</div><div class="row">'
        }
        docHtml += 	'<div class="col-xs-offset-2 col-xs-6 col-sm-offset-0 col-sm-4">' +
            '<div class="card">'+
              '<div class="resources-card">'+
                '<img class="img-responsive" src="img/analytics/img-bar.png" />' +
              '</div>'+
              '<div class="card-text">'+
                '<h4 class="no-margin"><strong>' + file.title + '</strong>&nbsp; <small>' +
                  file.description +
                 ' &nbsp; ';
          if(file["file"] !== undefined){
            var downloadIcon = (file.filename !== undefined) ? typeIcon(file.filename.slice(file.filename.lastIndexOf('.'))) : typeIcon("");
            docHtml += '<a href="api/asset/' + file["_id"] + '/file' +
              '" download> ' + file.type + ' ' + downloadIcon + '</a>';
          }
          docHtml += '</small></h4></div>'+
            '</div>'+
        '	</div>';
      });
      docHtml += "</div>";
    });
    docHtml += "</div>";
  });
  $('#documents-wrapper').append(docHtml);

  $("#hometab").click();

}

getData();

</script>
