<style>
#map{
  width: 100%;
}
.point {
  r: 3;
  /*fill: #081d58;*/
  fill-opacity: 0.9;
  cursor: pointer;
}

.leaflet-control-attribution a {
  color: #6d6e70 !important;
  cursor: pointer;
}
.clickable{
  cursor: pointer;
}
.leaflet-control-attribution {
  font-size: x-small;
  color: #78787d;
}
.leaflet-control-attribution a {
  text-decoration: none;
  cursor: pointer;
  color: #6d6e70;
}

.btn-map-filter {
  position: absolute;
  left: 47px;
  top: 10px;
  z-index: 1;
}

</style>

<div class="container-fluid" style=" margin:0; padding:0;">

  <div id="info-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p>Municipality: <span id="modal-municipality"></span></p>
          <p>Barangay: <span id="modal-barangay"></span></p>
          <p>Date Completed: <span id="date-completed"></span></p>
          <div style="width:49%;display:inline-block;"><img src="" class="img-responsive" id="img-photo-one" ></div>
          <div style="width:49%;display:inline-block;"><img src="" class="img-responsive" id="img-photo-two" ></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<div class="btn-group btn-map-filter" role="button">
  <button class="btn btn-default btn-sm" type="button" onclick="filtermap('all');"></span>Show all</button>
  <button class="btn btn-default btn-sm" type="button" onclick="filtermap('l1');"></span>Level 1 Water System <i class="fa fa-circle" style="color:#7570b3;" aria-hidden="true"></i></button>
  <button class="btn btn-default btn-sm" type="button" onclick="filtermap('l2');"></span>Level 2 Water System <i class="fa fa-circle" style="color:#1b9e77;" aria-hidden="true"></i></button>
</div>

<div id="map"></div>

<!-- <hr>
<footer id="site-footer">
	<div class="row row-logo">
				{{{logos}}}
			</div>
</footer> -->

</div> <!-- / container -->

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

var height = $(window).height();
$('#map').height(height);
$(window).resize(function(){
  height = $(window).height();
  $('#map').height(height);
})

var data, points;

// create basic leaflet map
// ========================
// tile layer for base map
var hotUrl = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png',
  hotAttribution = '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles from <a href="http://hot.openstreetmap.org/" target="_blank">H.O.T.</a>',
  hotLayer = L.tileLayer(hotUrl, {attribution: hotAttribution});
// initialize map w options
var map = L.map('map', {
  layers: [hotLayer],
  center: new L.LatLng(0,0),
  zoom: 2,
  minZoom: 2
});

var mapBounds = L.latLngBounds([10.714586690981509,124.71954345703126],[11.321173722096153,126.28509521484375])
map.fitBounds(mapBounds);

// initialize the SVG layer for D3 drawn survey points
map._initPathRoot()

// pick up the SVG from the map object
var svg = d3.select("#map").select("svg");
var pointsGroup = svg.append('g').attr("id", "markers");

function projectPoint(x, y) {
  var point = map.latLngToLayerPoint(new L.LatLng(y, x));
  this.stream.point(point.x, point.y);
}

var transform = d3.geo.transform({point: projectPoint}),
    path = d3.geo.path().projection(transform);

function getData(){
	$.get('query/water1', function(response){
		data = response;
		drawPoints(); 
	});
}

function drawPoints(){
	points = pointsGroup.selectAll("circle")
    .data(data).enter().append("circle")
    .classed('point', true)
    .attr('fill', function(d){
      if(d.sector_intervention == "hand pump"){
        return "#7570b3";
      } else if (d.sector_intervention == "water system") {
        return "#1b9e77";
      } else {
        return "#d95f02";
      }
    })
    .on('click', function(d){ clickedMarker(d, this); })

  // when map view changes adjust the locations of the svg circles
	function updatePoint(){
		points.attr("cx",function(d) {
			return map.latLngToLayerPoint([d.lat,d.lng]).x
		});
		points.attr("cy",function(d) {
			return map.latLngToLayerPoint([d.lat,d.lng]).y
		});
	}
	map.on("viewreset", updatePoint);
	updatePoint();
}

var locationLookup = {};

function getLocationData(){
  $.get('query/targetlocations', function(response){
    $.each(response, function(index, location){
      locationLookup[location.location_id] = location;
      locationLookup[location['location_id'].slice(0,2)] = location;
    });
  });
}

function clickedMarker(data, target){
  var src = "http://formhub.redcross.org/attachment/original?media_file=arc_ttl/attachments/";
  var date_comp = data.completion_date;
  var p_one = data.photo_one;
  var p_two = data.photo_two;

  var title = "";

  if(data.sector_intervention=="hand pump"){
    title = "Level 1 Water System";
  }else if(data.sector_intervention=="water system"){
    title = "Level 2 Water System";
  }else{
    title = "";
  }

  var loc_m = locationLookup[data.hh_municipality+data.hh_barangay].municipality;
  var loc_b = locationLookup[data.hh_municipality+data.hh_barangay].barangay;

  $('#info-modal .modal-title').html(title);
  $('#modal-barangay').html(loc_b);
  $('#modal-municipality').html(loc_m);
  $('#date-completed').html(date_comp);
  $('#img-photo-one').attr("src", src+p_one);
  $('#img-photo-two').attr("src", src+p_two);
  $("#info-modal").modal('show');
}

function filtermap(wat){
  if(wat === "l1"){
    points.classed("hide", true).filter(function(d){ return d.sector_intervention == "hand pump" }).classed("hide", false);
  }
  else if(wat === "l2"){
    points.classed("hide", true).filter(function(d){ return d.sector_intervention == "water system" }).classed("hide", false);
  }
  else{
    points.classed("hide", false);
  }

}

getLocationData();
getData()

</script>
