<div id="community-led-groups-page">

  <div id="details-modal" class="reveal" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title"></h5>
    <div class="modal-body">
      <p></p>
    </div>
  </div>

  <div class="columns">
    <div class="row">
      <div class="small-6">
        <h2>Community-Managed Groups</h2>
      </div>
    </div>
    <div class="row">
      <div id="map" class="columns small-8" style="height:400px;"></div>
      <div id="brgy-profile" class="columns small-4">
        <button class="button secondary hollow" style="background:#fff;" onclick="filter('all');">Reset All</button>
        <div id="intro">
          <p>Intro here</p>
        </div>
        <div id="content">
          <h3><span id="modal-assoc-brgy"></span>, <span id="modal-assoc-muni"></span></h3>
          <hr>
          <h5 id="lh-cmlp-header">Community-Managed Livelihood</h5>
          <p id="cmlp-list"></p>
          <hr>
          <h5 id="lh-ed-header">Enterprise Development</h5>
          <p id="ed-list"></p>
          <hr>
          <h5 id="watsan-header">Water and Sanitation</h5>
          <p id="bawasa-group"></p>
        </div>

        </div>
    </div>

    <hr>
     <div class="row">
       <div class="columns">
           <div id="listTable"></div>
       </div>
     </div>
  </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<style>
  /* because we want dark grey not blue sort arrows */
  table.dataTable thead .sorting_asc { background-image: url("{{opts.nginxlocation}}media/sort_asc.png"); }
  table.dataTable thead .sorting_desc { background-image: url("{{opts.nginxlocation}}media/sort_desc.png"); }
</style>
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script>

$('#content').hide();

var height = $(window).height();
$('#map').height(height);
$(window).resize(function(){
  height = $(window).height();
  $('#map').height(height);
})

var data, points, filteredData, dataGeoJson = { "type": "featureCollection", "features": [] };

var hotUrl = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png',
  hotAttribution = '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles from <a href="http://hot.openstreetmap.org/" target="_blank">H.O.T.</a>',
  hotLayer = L.tileLayer(hotUrl, {attribution: hotAttribution});
// initialize map w options
var map = L.map('map', {
  layers: [hotLayer],
  center: new L.LatLng(0,0),
  zoom: 2,
  minZoom: 2 });

var mapBounds = L.latLngBounds([10.714586690981509,124.71954345703126],[11.321173722096153,126.28509521484375])
map.fitBounds(mapBounds);

// initialize the SVG layer for D3 drawn markers
L.svg().addTo(map);
// pick up the SVG from the map object
var svg = d3.select('#map').select('svg');
var pointsGroup = svg.append('g').attr('id', 'markers');

function getPoints(){
    $.get('{{opts.nginxlocation}}api/pages/community-led-groups', function(response) {
    response.forEach(function(d, i) {
      if(!isNaN(d.lat) && !isNaN(d.lng)) {
        d.LatLng = new L.LatLng(parseFloat(d.lat), parseFloat(d.lng));
        d.municipality = locationLookup[d.location_id].municipality;
        d.barangay = locationLookup[d.location_id].barangay;

        var latlng = [parseFloat(d.lng), parseFloat(d.lat)];
        var thisGeoJsonObject = {
        "type": "Feature",
        "properties": {
          "municipality": locationLookup[d.location_id].municipality,
          "barangay": locationLookup[d.location_id].barangay,
          "community_group_name": d['community_group_name'],
          "member_count": d['member_count'],
          "proposed_business": d['proposed_business'],
          "assistance_received": d['assistance_received'],
          "location_id":d['location_id'],
          "group_id":d['community_group_id']
          },
        "geometry": {
          "type": "Point",
          "coordinates": latlng
          }
        };
        dataGeoJson.features.push(thisGeoJsonObject);
      }
    });
		data = response;
    filteredData = data;
    console.log(data);
		drawPoints(); 
    buildList();
  });
}

var locationLookup = {};

function getLocationData(){
  $.get('{{opts.nginxlocation}}api/pages/targetlocations', function(response){
    $.each(response, function(index, location){
      locationLookup[location.location_id] = location;
      locationLookup[location['location_id'].slice(0,2)] = location;
    });
  });
  getPoints();
}

function drawPoints(){

  points = pointsGroup.selectAll("circle")
           .data(data).enter().append("circle")
           .classed('point', true)
           .attr('fill', "#ed1b2e")
           .on('click', function(d){ clickedGroup(d, this); })

  marker = L.geoJson(dataGeoJson, {
    pointToLayer: function (feature, latlng) { return L.marker(latlng); },
    onEachFeature: function(feature, layer) { layer.on({ click: markerClick })}
  });

  marker.addTo(map);
  // when map view changes adjust the locations of the svg circles
  updatePoint = function() {
    points.attr('cx',function(d) { return map.latLngToLayerPoint(d.LatLng).x; });
    points.attr('cy',function(d) { return map.latLngToLayerPoint(d.LatLng).y; });
	}
	map.on('zoom move viewreset', updatePoint);

  updatePoint();
}

function markerClick(e) {
  clickedGroup(e.target.feature.properties);
}

function clickedGroup(response){
  $('#intro').hide();
  filter(response);

    if(response != null){
      $("#modal-assoc-name").empty().text(response.community_group_name);
      $("#modal-assoc-brgy").empty().text(response.barangay);
      $("#modal-assoc-muni").empty().text(response.municipality);
    } else {
      $("#modal-assoc-name").empty();
      $("#modal-assoc-brgy").empty();
      $("#modal-assoc-muni").empty();
    }
  $('#content').show();
}

function filter(response){
  console.log(response);
  console.log(data);

  if(response === 'all'){
    filteredData=data;
    $('#content').hide();
    $('#intro').show();
  }else{
    filteredData = data.filter(function(d){ return d.location_id===response.location_id; });
  }

  console.log(filteredData);
  buildList();
}

function buildList(){

  $('#listTable').empty();
  $('#listTable').html('<table data-sortable id="dataTable" class="compact stripe cell-border" cellspacing="0">' +
        '<thead>'+
          '<tr><th>Group Id<br><input class="column-search" type="search" placeholder="search..." /></th>'+
          '<th>Group Name<br><input class="column-search" type="search" placeholder="search..." /></th>'+
          '<th>Municipality<br><input class="column-search" type="search" placeholder="search..." /></th>'+
          '<th>Barangay<br><input class="column-search" type="search" placeholder="search..." /></th>'+
          '<th>Details</th>'+'</thead>'+'<tbody></tbody></table>');
  $.each(filteredData, function(i,d){
    var rowHtml = '<tr>' +
      '<td>' + d.community_group_id + '</td>' +
      '<td>' + d.community_group_name + '</td>' +
      '<td>' + locationLookup[d.location_id].municipality + '</td>' +
      '<td>' + locationLookup[d.location_id].barangay + '</td>' +
      '<td><span class="info-modal-trigger" data-id="' + d.community_group_id +
      '"><i class="fa fa-info-circle"></i></span></td>' + '</tr>';
    $('#listTable tbody').append(rowHtml);
  });

  $('.info-modal-trigger').on('click', function (event) {
    var modal = $("#details-modal");

    for(i=0;i<filteredData.length;i++){
      if(triggerId === filteredData[i]['community_group_id']){
        var hhId = filteredData[i].community_group_id;
        var name = filteredData[i].community_group_name;

        modal.find('.modal-title').html(name);

        var location = (locationLookup[filteredData[i].location_id] === undefined) ? "not known" :
        locationLookup[filteredData[i].location_id].barangay + ", " +
        locationLookup[filteredData[i].location_id].municipality;

        var detailsHtml = "<b></b> " + location + "<br><hr>"+
          "<b>President:</b> " + filteredData[i].head + "<br>" +
          "<b>Member Count:</b> " + filteredData[i].member_count + "<br><hr>" +
          "<b>Assistance Received</b> " + "<br>"+
          "<b>Trainings Attended</b> " + "<br>";

        modal.find('.modal-body p').html(detailsHtml);
        break;
      }
    }
    modal.foundation('open');
  });

  var table = $('#dataTable').DataTable({
      // scrollX: true,
      "sDom":'lrtip',
      "lengthChange": false,
      "pageLength": 10,
      // "lengthMenu": [ 10, 50, 100 ],
      "language": {
        "lengthMenu": "Display _MENU_ records",
        "info": "Showing _START_ to _END_ of _TOTAL_ records",
      }
    });

    // stop a click in the search input box from triggering a sort on the column
    $('.column-search').on('click', function(e){
      e.stopPropagation();
    });

    // initialize column search functionality
    table.columns().every( function() {
      var that = this;
      $('input', this.header() ).on('keyup change', function(){
        if( that.search() !== this.value ){
          that
          .search( this.value )
          .draw();
        }
      });
    });
}

getLocationData()
</script>
