<!--a1hwSmhvQWpVTlRjRmxJY3VVd1dRUTowZjliZmE3YTAzZmY3MjUy-->
<style>
</style>
<div id="data-collection-viewer">
  <!-- Header -->
  <div class="row">
  	<div class="columns">
  		<h2>Data Collection Viewer</h2>
  	</div>
    <div class="columns">
      <!-- Map -->
      <div id="viz">
        <div id = 'map'></div>
        <div id='mly'></div>
        <div id ="mlyInfo">Select a mapillary image in the map above</div>
      </div>
    </div>
  </div>

</div>
<!-- mapboxGL -->
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.css' rel='stylesheet' />
<!-- mapillary viewer -->
<script src='https://unpkg.com/mapillary-js@2.5.0/dist/mapillary.min.js'></script>
<link href='https://unpkg.com/mapillary-js@2.5.0/dist/mapillary.min.css' rel='stylesheet' />
<script>

mapboxgl.accessToken = "pk.eyJ1IjoiYW1lcmljYW5yZWRjcm9zcyIsImEiOiJzdHVRWjA4In0.bnfdwZhKX8tQeMkwY-kknQ"

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v9',
  center: [121.9860382,11.95598058814103],
  zoom: 12
})

map.addControl(new mapboxgl.Navigation());

map.on('style.load', function(e){
  init();
  toggleMapillary();
})

function init() {
  // add mapillary vecotr tile source
  var mapillaryCoverage = {
    "type": "vector",
    "tiles": ["http://d25uarhxywzl1j.cloudfront.net/v0.1/{z}/{x}/{y}.mvt"],
    "minzoom": 2,
    "maxzoom": 22
  };
  map.addSource("mapillaryCoverage", mapillaryCoverage)
  // create layers for different zoom levels
  var mapillaryCoverageLine = {
    "id": "mapillaryCoverageLine",
    "type": "line",
    "source": "mapillaryCoverage",
    "source-layer": "mapillary-sequences",
    "layout": { "visibility": "none" },
    "paint": {
      "line-color": '#2e870a',
      "line-width": {
        "stops": [
          [8,1],
          [15,3]
        ]
      },
      "line-opacity": {
        "stops": [
          [8,0.2],
          [17,1]
        ]
      }
    }
  };
  var mapillaryCoveragePoints = {
    "id": "mapillaryCoveragePoints",
    "type": "circle",
    "source": "mapillaryCoverage",
    "source-layer": "mapillary-images",
    "layout": { "visibility": "none" },
    "paint": {
      "circle-radius": 8,
      "circle-color": "#2e870a",
      "circle-opacity": 0.7,
      "circle-stroke-width": 1,
      "circle-stroke-color": "#2e870a"
    }
  }
  map.addLayer(mapillaryCoverageLine,'noturn')
  map.addLayer(mapillaryCoveragePoints,'noturn')

};

function toggleMapillary() {
  var mapillaryLayeres = ['mapillaryCoverageLine','mapillaryCoveragePoints'];
  mapillaryLayeres.forEach(function(id){
    var currentState = map.getLayoutProperty(id,'visibility')
    var nextState = currentState === "none" ? 'visibility' : 'none';
    map.setLayoutProperty(id, 'visibility', nextState)
  });
}

// thanks mapbox http://bit.ly/2psGxfn //
//var layerIds = ['open-aerial-map','']

// mapillary viewer //

var mly = new Mapillary.Viewer(
  'mly',
  'a1hwSmhvQWpVTlRjRmxJY3VVd1dRUTowZjliZmE3YTAzZmY3MjUy',
  null
)

</script>
