<link rel="stylesheet" href="css/blueimp-gallery.min.css">
<style>

.gallery-thumb {
  cursor: pointer;
  margin: 12px;
  padding: 6px;
  height: 100px;
  width: 100px;
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

</style>

<div class="container">

<header class="row header">
	<div class="col-md-12">
		<h1>Gallery </h1>
	</div>
</header>

<hr>

<div class="row">
<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
<div id="blueimp-video-carousel" class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
</div>
</div>
</div>

<hr>

<div id="gallery-links">
  <div class="text-center"><img src="img/loading.gif" alt="loading..."></div>
</div>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>




<hr>
<footer id="site-footer">
	<div class="row row-logo">
				{{{logos}}}
			</div>
</footer>

</div> <!-- / container -->

<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="js/blueimp-gallery.min.js"></script>
<script>

function getGalleryList(){
  $.ajax({
    type: 'POST',
    url: 'gallery'
  }).done(function(data){
    buildGallery(data);
  });
}


function buildGallery(data){
   var thumbs = [];
   var fulls = {};
   data.forEach(function(d){
    if(d.Key.indexOf("_THUMB") !== -1){
      thumbs.push(d.Key);
    } else {
      fulls[d.Key.slice(0, d.Key.lastIndexOf("."))] = d.Key;
    }
  });
  thumbs = thumbs.filter(function(d){
    return fulls[d.slice(0,d.indexOf("_THUMB"))] !== undefined;
  })

  $('#gallery-links').html('');

  var linksContainer = $('#gallery-links');
  var baseUrl = "http://arcttl.s3.amazonaws.com/";
  var galleryLinks = thumbs.map(function(d){ return baseUrl + fulls[d.slice(0,d.indexOf("_THUMB"))]; })

  var links = d3.select('#gallery-links').selectAll('div')
      .data(thumbs).enter()
      .append('div').attr('class', 'gallery-thumb')
      .attr('data-href', function(d){ return baseUrl + fulls[d.slice(0,d.indexOf("_THUMB"))]; })
      .on('click', function(d){
        blueimp.Gallery(galleryLinks, { index: galleryLinks.indexOf(d3.select(this).attr('data-href')) });
      })

    links.append('img').attr('src', function(d){
      return baseUrl + d;
    }).classed('img-responsive', true)

}

// https://www.youtube.com/watch?v=78hevWNhRm8
var videos = [
    {
        title: '',
        href: 'https://www.youtube.com/watch?v=GfeX45lMM3A',
        type: 'text/html',
        youtube: 'GfeX45lMM3A',
        poster: 'https://img.youtube.com/vi/GfeX45lMM3A/maxresdefault.jpg'
    },{
        title: '',
        href: 'https://www.youtube.com/watch?v=78hevWNhRm8',
        type: 'text/html',
        youtube: '78hevWNhRm8',
        poster: 'https://img.youtube.com/vi/78hevWNhRm8/maxresdefault.jpg'
    },{
        title: '',
        href: 'https://www.youtube.com/watch?v=7rpeZv0_t_k',
        type: 'text/html',
        youtube: '7rpeZv0_t_k',
        poster: 'https://img.youtube.com/vi/7rpeZv0_t_k/maxresdefault.jpg'
    },{
        title: '',
        href: 'https://www.youtube.com/watch?v=0Uk_OPBHtoU',
        type: 'text/html',
        youtube: '0Uk_OPBHtoU',
        poster: 'https://img.youtube.com/vi/0Uk_OPBHtoU/maxresdefault.jpg'
    },{
        title: '',
        href: 'https://www.youtube.com/watch?v=S6SaMu-FUkA',
        type: 'text/html',
        youtube: 'S6SaMu-FUkA',
        poster: 'https://img.youtube.com/vi/S6SaMu-FUkA/maxresdefault.jpg'
    },{
        title: '',
        href: 'https://www.youtube.com/watch?v=hM_z3xWvR58',
        type: 'text/html',
        youtube: 'hM_z3xWvR58',
        poster: 'https://img.youtube.com/vi/hM_z3xWvR58/maxresdefault.jpg'
    },{
        title: '',
        href: 'https://www.youtube.com/watch?v=G8J-1ll8fXA',
        type: 'text/html',
        youtube: 'G8J-1ll8fXA',
        poster: 'https://img.youtube.com/vi/G8J-1ll8fXA/maxresdefault.jpg'
    },{
        title: '',
        href: 'https://www.youtube.com/watch?v=FpyqAir5LEU',
        type: 'text/html',
        youtube: 'FpyqAir5LEU',
        poster: 'https://img.youtube.com/vi/FpyqAir5LEU/maxresdefault.jpg'
    },{
        title: '',
        href: 'https://www.youtube.com/watch?v=5n2fZisRbqc',
        type: 'text/html',
        youtube: '5n2fZisRbqc',
        poster: 'https://img.youtube.com/vi/5n2fZisRbqc/maxresdefault.jpg'
    },{
        title: '',
        href: 'https://www.youtube.com/watch?v=tAZulxGrbDs',
        type: 'text/html',
        youtube: 'tAZulxGrbDs',
        poster: 'https://img.youtube.com/vi/tAZulxGrbDs/maxresdefault.jpg'
    }
  ]

blueimp.Gallery(videos, {
  container: '#blueimp-video-carousel',
  carousel: true
});

// http://arcttl.s3.amazonaws.com/gallery/CartoDB_NepalLogsRoutes.jpg


getGalleryList();

</script>
