<header class="row header">
	<div class="jumbotron">

		<div class="container">
			<div class="jumbotron-logos">
				<img src="/media/logos/01-prc.png">
				<img src="/media/logos/02-arc.png">
			</div>
			<h1>Tindog Tabang Leyteno<br>
			<small>Stand Up, Help Leytenos</small></h1>
		</div>
	</div>
</header>

<div class="container">

{{#if user}}
<div class="row">
	<div class="col-sm-7">
		<p>November 8, 2013 – the day that Typhoon Haiyan (Yolanda), the strongest typhoon ever to make landfall, hit the Philippines and impacted the lives of 14 million people. The typhoon had a widespread effect, covering 14 provinces and 171 municipalities, where scores of homes were damaged or destroyed, various livelihoods disrupted, numerous crops were lost, and sanitation systems were affected.</p>
		<p>In response to this disaster, the Philippine Red Cross (PRC) in partnership with American Red Cross (ARC) implemented a 3-year recovery project, which spans from July 2014 to June 2017. The project covers 4 municipalities and 23 barangays, and comprises activities in the core sectors of Shelter and Settlement, Livelihoods, Sanitation, Health, and Disaster Risk Reduction.</p>
		<p>The main goal of the project is to contribute to building safe and resilient communities by identifying and addressing various factors that will help people sustainably rebuild their lives, livelihoods, and assets while ensuring that future climate, environmental and disaster related risks are addressed and/or minimized.</p>
</p>
	</div>
	<div class="col-sm-5">
		<img class="img-responsive img-rounded" src="media/pics/cgi-distribution-reduced.jpg" />
	</div>

</div>

<div class="section-spacer"></div>

<div class="row">
	<div class="col-xs-12" >
			<h2 class="under-thick">Our Aim</h2>
	</div>
	<div class="col-sm-4">
		<p>1.	Philippine Red Cross (PRC) increases their capacity in community-based recovery and preparedness to enhance community resilience.</p>
	</div>
	<div class="col-sm-4">
		<p>2.	Communities increase their capacity in adopting resilient practices.</p>
	</div>
	<div class="col-sm-4">
		<p>3.	Household and community has increased access to safer and sustainable infrastructure and resources. </p>
	</div>
</div>

<div class="section-spacer"></div>

<div class="row">
	<div class="col-xs-12" >
			<h2 style="border-bottom:2px solid #d7d7d8;">Our Intervention</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h4 class="under-thin">Shelter</h4>
		<span class="ocha-icon icon-cluster_shelter icon-intervention rcred2"></span>
		<p>Provides Core housing - wooden or concrete, Shelter Retrofitting, and Shelter Repair Kits to beneficiaries. Also supports knowledge transfer and capacity building activities regarding shelter and settlement solutions to Red Cross staff, volunteers, beneficiaries, and skilled workers.</p>
	</div>
	<div class="col-sm-6">
		<h4 class="under-thin">Livelihood</h4>
		<span class="ocha-icon icon-socioeconomic_livelihood icon-intervention rcred2"></span>
		<p></p>
		<p>Provides Conditional Cash Grants (CCG) and Asset Recovery to beneficiaries, as well as gives support to Small Medium Enterprises (SMEs). Conducts trainings and skill building activities to the communities.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h4 class="under-thin">Water and Sanitation</h4>
		<span class="ocha-icon icon-cluster_WASH icon-intervention rcred2"></span>
		<p>Implements PHAST and CHAST as part of introducing behavior change in the community, and improving access to private and communal sanitation alongside all shelter solutions. Other activities are Hygiene Promotion, community-based WASH, Water Supply and Sanitation.</p>
	</div>
	<div class="col-sm-6">
		<h4 class="under-thin">Health</h4>
		<span class="ocha-icon icon-cluster_health icon-intervention rcred2"></span>
		<p>Conducts CBHFA, Health Promotion and capacity building activities, as well as provides small equipment to health posts in covered communities.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h4 class="under-thin">Disaster Risk Reduction</h4>
		<span class="ocha-icon icon-activity_preparedness icon-intervention rcred2"></span>
		<p>Promotes and builds capacity of communities in household preparedness; which includes early warning systems, structural, and non-structural disaster mitigation.</p>
	</div>
	<div class="col-sm-6">
		<h4 class="under-thin">Community Mobilization</h4>
		<span class="ocha-icon icon-activity_advocacy icon-intervention rcred2"></span>
		<p>Serves as the focal unit in the community and is responsible in mobilizing the community to successfully implement the Red Cross programs. Develops and implements sustainable engagement strategies for the community, volunteers and project partners and facilitates ongoing communication between various stakeholders working within the handled communities.</p>
	</div>
</div>

</div> <!-- /container -->

<hr>
<footer id="site-footer">
	<div class="row row-logo">
				{{{logos}}}
			</div>
</footer>

{{else}}
{{#if error}}
		<div class="alert alert-danger alert-dismissable">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <p><strong>Sorry, we've hit a snag logging you in.</strong> <em>{{error}}</em></p>
		</div>
	{{/if}}
	<form class="row" role="form" action="/user/login" method="POST">
		<div class="col-md-6">
			<div class="form-group">
				<input type="text" placeholder="Username" name="username" class="form-control">
			</div>
			<div class="form-group">
				<input type="password" placeholder="Password" name="password" class="form-control">
			</div>
			<button type="submit" class="btn btn-dark">Log In</button>
		</div>
	</form>
{{/if}}



</div>
