<header class="row header">
	<div class="jumbotron">

		<div class="container">
			<div class="jumbotron-logos">
				<img src="/media/logos/01-prc.png">
				<img src="/media/logos/02-arc.png">
			</div>
			<h1>Tindog Tabang Leyteno<br>
			<small>Stand Up, Help Leytenos</small></h1>
		</div>
	</div>
</header>

<div class="container">

{{#if user}}
<div class="row">
	<div class="col-sm-7">
		<p>Kif might! Does anybody else feel jealous and aroused and worried? Also Zoidberg. Meh. I just told you! You've killed me! Alright, let's mafia things up a bit. Joey, burn down the ship. Clamps, burn down the crew.</p>
		<p>Hey, whatcha watching? I just want to talk. It has nothing to do with mating. Fry, that doesn't make sense. Guess again. And then the battle's not so bad? Kids don't turn rotten just from watching TV. I'm sorry, guys. I never meant to hurt you. Just to destroy everything you ever believed in.</p>
		<p>Why, those are the Grunka-Lunkas! They work here in the Slurm factory. Fry! Stay back! He's too powerful! This opera's as lousy as it is brilliant! Your lyrics lack subtlety. You can't just have your characters announce how they feel. That makes me feel angry!</p>
		<p>I barely knew Philip, but as a clergyman I have no problem telling his most intimate friends all about him. It doesn't look so shiny to me. Hello, little man. I will destroy you! Have you ever tried just turning off the TV, sitting down with your children, and hitting them?</p>
	</div>
	<div class="col-sm-5">
		<img class="img-responsive img-rounded" src="http://placehold.it/800x600" />
	</div>

</div>

<div class="section-spacer"></div>

<div class="row">
	<div class="col-xs-12" >
			<h2 class="under-thick">Our Aim</h2>
	</div>
	<div class="col-sm-4">
		<p>And I'd do it again! And perhaps a third time! But that would be it. Oh dear! She's stuck in an infinite loop, and he's an idiot! Well, that's love for you.</p>
	</div>
	<div class="col-sm-4">
		<p>Spare me your space age technobabble, Attila the Hun! No! The kind with looting and maybe starting a few fires! Kif might! You mean while I'm sleeping in it? Who am I making this out to?</p>
	</div>
	<div class="col-sm-4">
		<p>A true inspiration for the children. Hey! I'm a porno-dealing monster, what do I care what you think? Daddy Bender, we're hungry. Kids have names?</p>
	</div>
</div>

<div class="section-spacer"></div>

<div class="row">
	<div class="col-xs-12" >
			<h2 style="border-bottom:2px solid #d7d7d8;">Our Intervention</h2>
	</div>
	<div class="col-sm-6">
		<h4 class="under-thin">Community Mobilization</h4>
		<span class="ocha-icon icon-activity_advocacy icon-intervention rcred2"></span>
		<p>Guards! Bring me the forms I need to fill out to have her taken away! Moving along… All I want is to be a monkey of moderate intelligence who wears a suit… that's why I'm transferring to business school!</p>
	</div>
	<div class="col-sm-6">
		<h4 class="under-thin">Health</h4>
		<span class="ocha-icon icon-cluster_health icon-intervention rcred2"></span>
		<p>Ok, we'll go deliver this crate like professionals, and then we'll go ride the bumper cars. Oh, I don't have time for this. I have to go and buy a single piece of fruit with a coupon and then return it, making people wait behind me while I complain.</p>
	</div>
	<div class="col-sm-6">
		<h4 class="under-thin">Shelter</h4>
		<span class="ocha-icon icon-cluster_shelter icon-intervention rcred2"></span>
		<p>Why would a robot need to drink? Hey, whatcha watching? What are you hacking off? Is it my torso?! 'It is!' My precious torso! Hey, you add a one and two zeros to that or we walk! Fry, you can't just sit here in the dark listening to classical music.</p>
	</div>
	<div class="col-sm-6">
		<h4 class="under-thin">Water and Sanitation</h4>
		<span class="ocha-icon icon-cluster_WASH icon-intervention rcred2"></span>
		<p>But, like most politicians, he promised more than he could deliver. It's toe-tappingly tragic! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil. And by "devil", I mean Robot Devil. And by "metaphorically", I mean get your coat.</p>
	</div>
	<div class="col-sm-6">
		<h4 class="under-thin">Livelihood</h4>
		<span class="ocha-icon icon-socioeconomic_livelihood icon-intervention rcred2"></span>
		<p>Why, those are the Grunka-Lunkas! They work here in the Slurm factory. Then throw her in the laundry room, which will hereafter be referred to as "the brig". Now what? You wouldn't. Ask anyway! We can't compete with Mom! Her company is big and evil! Ours is small and neutral!</p>
	</div>
	<div class="col-sm-6">
		<h4 class="under-thin">Disaster Risk Reduction</h4>
		<span class="ocha-icon icon-activity_preparedness icon-intervention rcred2"></span>
		<p>This is the worst part. The calm before the battle. You lived before you met me?! My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards.</p>
	</div>

</div>

<hr>
<footer id="site-footer">
	<div class="row row-logo">
				{{{logos}}}
			</div>
</footer>

{{else}}
{{#if error}}
		<div class="alert alert-danger alert-dismissable">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <p><strong>Sorry, we've hit a snag logging you in.</strong> <em>{{error}}</em></p>
		</div>
	{{/if}}
	<form class="row" role="form" action="/user/login" method="POST">
		<div class="col-md-6">
			<div class="form-group">
				<input type="text" placeholder="Username" name="username" class="form-control">
			</div>
			<div class="form-group">
				<input type="password" placeholder="Password" name="password" class="form-control">
			</div>
			<button type="submit" class="btn btn-dark">Log In</button>
		</div>
	</form>
{{/if}}



</div>
