<style>
#map{
  width: 100%;
}
.point {
  r: 3;
  /*fill: #081d58;*/
  fill-opacity: 0.9;
  cursor: pointer;
}

.btn-map-filter {
  position: absolute;
  left: 47px;
  top: 10px;
  z-index: 1;
}

.panel-group{
  position: absolute;
  left: 47px;
  top: 40px;
  z-index: 1;
}

.leaflet-control-attribution a {
  color: #6d6e70 !important;
  cursor: pointer;
}
.clickable{
  cursor: pointer;
}
.leaflet-control-attribution {
  font-size: x-small;
  color: #78787d;
}
.leaflet-control-attribution a {
  text-decoration: none;
  cursor: pointer;
  color: #6d6e70;
}

</style>

<div class="container-fluid" style="margin:0;padding:0;">

  <div id="info-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Head of household: <small><span id="modal-hh-head"></span></small>&nbsp;&nbsp;&nbsp;&nbsp;Household Id: <small><span id="modal-hh-id"></span></small></h4>
        </div>
        <div class="modal-body">
          <div class="row">
          <div id="hh-demo" class="col-xs-12">
            <h4 class="no-margin">Household Demographics</h4>
            <p class="col-xs-6"># of household members: <span id="modal-hh-total"></span> (<span id="modal-hh-f"></span> <i class="fa fa-female" aria-hidden="true"></i> | <span id="modal-hh-m"></span> <i class="fa fa-male" aria-hidden="true"></i>)</p>
            <p class="col-xs-3"># of elderly: <span id="modal-hh-elderly-f"></span> <i class="fa fa-female" aria-hidden="true"></i> | <span id="modal-hh-elderly-m"></span> <i class="fa fa-male" aria-hidden="true"></i></p>
            <p class="col-xs-3"># of minors: <span id="modal-hh-minor-f"></span> <i class="fa fa-female" aria-hidden="true"></i> | <span id="modal-hh-minor-m"></span> <i class="fa fa-male" aria-hidden="true"></i></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div id="hh-assistance" class="col-xs-12">
            <div id="training" class="col-xs-6">
              <h4>Trainings Attended</h4>
              <p>Safer Construction Techniques: <span id="modal-hh-sst"></span></p>
              <p>Agricultural Extension Trainings: <span id="modal-hh-agri"></span></p>
              <p>Skills Training and Enterprise Development: <span id="modal-hh-sted"></span></p>
              <p>PHAST: <span id="modal-hh-phast"></span></p>
              <p>CBHFA: <span id="modal-hh-cbhfa"></span></p>
            </div>
            <div id="asset" class="col-xs-6">
              <h4>Assistance Received</h4>
              <p>Core Shelter: <span id="modal-hh-core"></span></p>
              <p>Shelter Retrofitting Assistance: <span id="modal-hh-sra"></span></p>
              <p>Household Level Assistance: <span id="modal-hh-ccg"></span></p>
            </div>

          </div>
        </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!-- <header class="row header">
	<div class="col-md-12">
		<h1>Households overview</h1>
	</div>
</header>

<hr> -->
<div class="btn-group btn-map-filter" role="button">
  <button class="btn btn-default btn-sm" type="button" onclick="filtermap('all');"></span>Show all</button>
<button class="btn btn-default btn-sm" type="button" onclick="filtermap('addfilters');"></span>Filters</button>
</div>

<div class="filter-panel panel-group" id="accordion" role="tablist" >
  <div class="filter-panel panel panel-default">
    <div class="filter-panel panel-heading" role="tab">
			<!-- panel titles go here -->
    </div>
		<!-- collapse divs go here -->
  </div>
</div>

<div id="map"></div>


<!-- <hr>
<footer id="site-footer">
	<div class="row row-logo">
				{{{logos}}}
			</div>
</footer> -->

</div> <!-- / container -->

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

$('#accordion').hide();

var height = $(window).height();
$('#map').height(height);
$(window).resize(function(){
  height = $(window).height();
  $('#map').height(height);
})

var data, points;

// create basic leaflet map
// ========================
// tile layer for base map
var hotUrl = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png',
  hotAttribution = '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles from <a href="http://hot.openstreetmap.org/" target="_blank">H.O.T.</a>',
  hotLayer = L.tileLayer(hotUrl, {attribution: hotAttribution});
// initialize map w options
var map = L.map('map', {
  layers: [hotLayer],
  center: new L.LatLng(0,0),
  zoom: 2,
  minZoom: 2
});

var mapBounds = L.latLngBounds([10.714586690981509,124.71954345703126],[11.321173722096153,126.28509521484375])
map.fitBounds(mapBounds);

// initialize the SVG layer for D3 drawn survey points
map._initPathRoot()

// pick up the SVG from the map object
var svg = d3.select("#map").select("svg");
var pointsGroup = svg.append('g').attr("id", "markers");

function projectPoint(x, y) {
  var point = map.latLngToLayerPoint(new L.LatLng(y, x));
  this.stream.point(point.x, point.y);
}

var transform = d3.geo.transform({point: projectPoint}),
    path = d3.geo.path().projection(transform);



function getHouseholds(){
	$.get('query/hhlocations', function(response){
		data = response;
		drawPoints(); 
	});
}

function drawPoints(){
	points = pointsGroup.selectAll("circle")
    .data(data).enter().append("circle")
    .classed('point', true)
    .attr('fill', "#ed1b2e")
    .on('click', function(d){ clickedHousehold(d, this); })

  // when map view changes adjust the locations of the svg circles
	function updatePoint(){
		points.attr("cx",function(d) {
			return map.latLngToLayerPoint([d.lat,d.lng]).x
		});
		points.attr("cy",function(d) {
			return map.latLngToLayerPoint([d.lat,d.lng]).y
		});
	}
	map.on("viewreset", updatePoint);
	updatePoint();
}

function clickedHousehold(data, target){

  console.log(data);

  $.post('query/hhoverview', {"id": data.id}, function(response){
    // # response should be an array containing one object
    if(response[0]){
      var head = response[0].head_of_hh_fname;
      head += (response[0].head_of_hh_mname === null) ? " " : " " + response[0].head_of_hh_mname + " ";
      head += response[0].head_of_hh_lname;
      $("#modal-hh-id").empty().text(response[0].household_id);
      $("#modal-hh-head").empty().text(head);
      $("#modal-hh-total").empty().text(response[0].num_of_members);
      $("#modal-hh-f").empty().text(response[0].num_of_females);
      $("#modal-hh-m").empty().text(response[0].num_of_males);
      $("#modal-hh-elderly-f").empty().text(response[0].vul_female_elderly);
      $("#modal-hh-elderly-m").empty().text(response[0].vul_male_elderly);
      $("#modal-hh-minor-f").empty().text(response[0].vul_female_minor);
      $("#modal-hh-minor-m").empty().text(response[0].vul_male_minor);

      data.sra !== null ? $("#modal-hh-sra").empty().text("Yes") : $("#modal-hh-sra").empty();
      data.core !== null ? $("#modal-hh-core").empty().text("Yes") : $("#modal-hh-core").empty();
      data.sted !== null ? $("#modal-hh-sted").empty().text("Yes") : $("#modal-hh-sted").empty();
      data.ccg !== null ? $("#modal-hh-ccg").empty().text("Yes") : $("#modal-hh-ccg").empty();

      $("#info-modal").modal();
    } else {
      $("#modal-hh-id").empty().html("<i>Sorry, an error occurred.</i>");
      $("#modal-hh-head").empty();
      $("#modal-hh-total").empty();
      $("#modal-hh-f").empty();
      $("#modal-hh-m").empty();
      $("#modal-hh-elderly-f").empty();
      $("#modal-hh-elderly-m").empty();
      $("#modal-hh-minor-f").empty();
      $("#modal-hh-minor-m").empty();
      $("#info-modal").modal();
    }
  });
}

var locationLookup = {};

function getLocationData(){
  $.get('query/targetlocations', function(response){
    $.each(response, function(index, location){
      locationLookup[location.location_id] = location;
      locationLookup[location['location_id'].slice(0,2)] = location;
    });
  });
}

var filterTitles = [];
var filterOptions = [];
var filterConditions = [];
var activeFilters = [];

function buildFilterHTML(title,titleName,options,isLocation){

  var titleHTML = '';
  var thisBodyHtml = '';

  titleHTML = '<span class="panel-title">' + '<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-' + titleName + '" aria-expanded="false"            aria-controls="collapse' + titleName + '">' + title + '</a></span>';

  filterTitles.push(titleHTML);

  thisBodyHtml = '<div id="collapse-' + titleName + '" class="collapse" role="tabpanel">' + '<div class="panel-body">';

  if(isLocation === true) {
    var municipArray = [];
    $.each(options, function(i, a){
      var thisMunicip = a.slice(0,2);
      if($.inArray(thisMunicip, municipArray) === -1 && locationLookup[thisMunicip] !== undefined){
        municipArray.push(thisMunicip);
        thisBodyHtml += (municipArray.length > 0) ? '<br>' : '';
        thisBodyHtml += '<div class="checkbox"><label><input type="checkbox" name="location" value="' + thisMunicip + '" onchange="buildFilters();"><strong>' + locationLookup[thisMunicip].municipality + '<strong></label></div>';
      }
      if(locationLookup[a] === undefined){
        thisBodyHtml += '<div class="checkbox"><label><input type="checkbox" name="location" value="' + a + '" onchange="buildFilters();">' + 'data error' + '</label></div>';
      }
      else {
        thisBodyHtml += '<div class="checkbox"><label><input type="checkbox" name="location" value="' + a + '" onchange="buildFilters();">' + locationLookup[a].barangay + '</label></div>';
      }
    })
  } else{
    $.each(options, function(i, a){
      thisBodyHtml += '<div class="checkbox"><label><input type="checkbox" name="'+ titleName + '" value="' + a + '" onchange="buildFilters();">' + a + '</label></div>';
    })
  }
  thisBodyHtml += '</div>' + '</div>';
  $('.filter-panel.panel').append(thisBodyHtml);
}

function filtermap(wat){

  if(wat=="all"){
    points.classed("hide", false);
    closeFilterBox();
    }

  else if (wat=="addfilters"){
    if($('#accordion').is(':visible')){
      closeFilterBox();
    }
    else{
      filterTitles = [];
      filterOptions = [];

      buildFilterHTML('Shelter','shelter',['core','sra'],false);
      buildFilterHTML('Livelihood','livelihood',['ccg','sted'],false);
      // panelHtml('Location', null, locationArray, true);
      $('.filter-panel.panel-heading').html(filterTitles.join('&nbsp; | &nbsp;'));

      // $('.checkbox input:checkbox').click(function() {
      //   $('.checkbox input:checkbox').not(this).prop('checked', false);
      // });
      $('#accordion').show();
    }
  }
}

function closeFilterBox(){
      clearAllFilters();
      $('#accordion').hide();

}

function clearAllFilters(){
  activeFilters = [];

  var allCheckboxes = $.find("input:checkbox");
  $.each(allCheckboxes, function(i, box){ $(box).prop('checked',false); });
}

function buildFilters(){
  var i;

  filterConditions = [];
  checkboxes = $(".filter-panel.panel input[type=checkbox]");
    for (i=0; i<checkboxes.length; i++) {
      if(checkboxes[i].checked === true) {
        activeFilters.push({
          filterKey: checkboxes[i].name,
          filterValue: checkboxes[i].value
        })
      }
    }

// filter data
    // var filterKeyCount = filterData.length;
    // filteredData = data.filter(function(d){
    //   var passCount = 0;
    //   var project = d;
    //   $.each(filterData,function(iKey, filterKey){
    //     var pass = false;
    //     var thisKey = filterKey.key;
    //     $.each(filterKey.values, function(iValue, filterValue){
    //       // # if any of the filter values for a given key are present, that filter key is passed
    //       if($.inArray(filterValue, project[thisKey]) !== -1){ pass = true; }
    //     });
    //     if(pass === true){ passCount ++; }
    //   });
    //   // # if all filter keys are passed, the project passes the filtering
    //   return passCount === filterKeyCount;
    // })

// draw points
}

getLocationData();
getHouseholds()

</script>
