<link rel="stylesheet" href="css/dashboard.css" />
<link href='https://unpkg.com/mapillary-js@2.4.0/dist/mapillary.min.css' rel='stylesheet' />
<link href='https://unpkg.com/leaflet@1.0.1/dist/leaflet.css' rel='stylesheet' />

<script src='https://unpkg.com/mapillary-js@2.4.0/dist/mapillary.min.js'></script>
<script src='https://unpkg.com/leaflet@1.0.1/dist/leaflet.js'></script>

<div class="container">

<header class="row header">
	<div class="col-md-12">
		<h1>Overall program progess </h1>
	</div>
</header>

<hr>

<div id="mly"></div>
<div id="mly_map"></div>



<hr>
<footer id="site-footer">
	<div class="row row-logo">
				{{{logos}}}
			</div>
</footer>

</div> <!-- / container -->

<script src="" charset="utf-8"></script>
<script>

var height = $(window).height() - 69 - 42;
$('#mly').height(height);
$('#mly_map').height(height);
$(window).resize(function(){
  height = $(window).height() - 69 - 42;
  $('#mly').height(height);
  $('#mly_map').height(height);
})

var map = L.map('mly_map').setView([56.04351888068181, 12.695600612967427], 15);

var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
var osm = new L.TileLayer(osmUrl, { maxZoom: 18, attribution: osmAttrib});
map.addLayer(osm);

var mly = new Mapillary.Viewer(
    'mly', // page element id
    'S1FUamFnYXBpN2NDSWplbDRtRUJoUToyZjIyYjEyMjJkNTU4ZWZj', // clientId
    'wKJK2eqfRUeOxWGHwM--KQ'); // photo key

var marker;
mly.on(Mapillary.Viewer.nodechanged, function (node) {
    var latLon = [node.latLon.lat, node.latLon.lon];

    if (!marker) {
        marker = L.marker(latLon);
        marker.addTo(map);
    } else {
        marker.setLatLng(latLon);
    }

    map.setView(latLon);
});

window.addEventListener('resize', function() { mly.resize(); });

</script>
