<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.2/handlebars.min.js"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

<link rel="stylesheet" href="css/dashboard.css" />

<div class="container-fluid">

<header class="row header">
	<div class="col-md-12">
		<h1>PHAST</h1>
	</div>
</header>




<h4>Sorry, nothing here yet. We're working on it.</h4>


<hr>
<footer id="site-footer">
	<div class="row row-logo">
				{{{logos}}}
			</div>
</footer>
</div>
