
<style>

#progress-indicators {
	background: #fff;
	table-layout: auto !important;
}
.progress-pie {
	float: left;
	margin: 2px 8px;
}


</style>

<div class="container">

<header class="row header">
	<div class="col-md-12">
		<h1>Overall program progess </h1>
	</div>
</header>

<hr>

<table id="progress-indicators"></table>



</div> <!-- / container -->

<hr>
<footer id="site-footer">
	<div class="row row-logo">
				{{{logos}}}
			</div>
</footer>


<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

function getNumber(str){
  return (isNaN(parseFloat(str))) ? 0 : parseFloat(str);
}

function getProgress(){
  $.ajax({
    type: 'POST',
    url: '/progress',
    dataType: 'JSON'
  }).done(function(response){
    buildPage(response);
  });
}

function buildPage(response){

	response.forEach(function(d){
		var actual = getNumber(d.actual);
		var target = getNumber(d.target);
		var remainder = (target - actual > 0) ? (target - actual) : 0;
		d.pie = [
			{ label: 'actual', count: actual },
			{ label: 'remainder', count: remainder }
		]
	})

	var indicators = d3.select("#progress-indicators").selectAll('tr').data(response).enter()
		.append('tr')

	indicators.sort(function(a,b){
		return d3.ascending(a.indicator_reference, b.indicator_reference);
	})

	var width = 30,
			height = 30,
			radius = Math.min(width, height) / 2,
			arc = d3.svg.arc().outerRadius(radius),
			pie = d3.layout.pie().value(function(d){ return d.count })

	var svg = indicators.append('td').append('svg')
		.attr('class', 'progress-pie')
		.attr('width', width).attr('height', height)
		.append('g').attr('transform', 'translate(' + (width / 2) + ',' + (height / 2) + ')')

	var g = svg.selectAll('g').data(function(d) { return pie(d.pie); }).enter().append('path')
		.attr('d', arc)
		.style("fill", function(d) { return (d.data.label === "actual") ? "#8ec06c" : "#d7d7d8"; });

	var reference = indicators.append('td').text(function(d){ return d.indicator_reference; });

	var description = indicators.append('td');
	description.append('div').text(function(d){ return d.indicator; });
	description.append('div').html(function(d){
		var unitText = (d.unit_of_measure === "Percent") ? "&#37;" : d.unit_of_measure;
		return '<small>' + d.indicator_level + ': &nbsp;&nbsp;<b>' + d.actual + '</b> ' + unitText + ' of <b>' + d.target + '</b></small>'
	});


}

getProgress();

</script>
