.jumbotron {
  background-color: #eee;
}
.jumbotron-logos img {
  height: 40px;
  margin: 12px 20px 12px 0;
}
.icon-intervention { font-size:60px; float:left; margin:12px;}
.rcred { color:#ed1b2e;}
.rcred2 { color:#7f181b;}
.under-thick { border-bottom:2px solid #d7d7d8; }
.under-thin { border-bottom:1px solid #d7d7d8; }
.img-expanded {
  width: 100%;
}
.img-rounded {
  border-radius: 4px;
}

// Preventing FOUC
// ###############
// http://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }
  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.custom-navigation__top-bar {
  padding: 0;
}
.custom-navigation__link  {
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}
.custom-navigation__link:hover {
  border-bottom: 4px solid #ed1b2e;
}
.custom-navigation__top-bar a {
  text-decoration: none;
  color: inherit;
}
.custom-navigation_spacer {
  height: 42px;
}

/* Side Menu */
#sidebar-wrapper {
    font-size: 14px;
    z-index: 1001;
    position: fixed;
    right: 0;
    width: 275px;
    height: 100%;
    margin-right: -275px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 275px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav ul { list-style: none; }
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}
.sidebar-nav > .sidebar-brand a { color: #999; }
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}
#sidebar-wrapper.active {
    right: 275px;
    width: 275px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle { margin: 5px 5px 0 0; }
.logout { text-indent: 0; }
.sidebar-nav .fa { display: inline; }
.sidebar-nav .nav-float-right {
      float: right;
      line-height: inherit;
      margin-right: 20px;
}
.sidebar-nav .nav-arrow:before { content: "\f053"; }
.sidebar-nav .active .nav-arrow:before { content: "\f078"; }
.sidebar-nav .second-level {
  padding-left: 0;
  text-indent: 40px;
}
.sidebar-nav .second-level li  { text-indent: 40px; }
.second-level-sector { font-weight: 600; color: #555; }

