.jumbotron {
  background-color: #eee;
}
.jumbotron-logos img {
  height: 40px;
  margin: 12px 20px 12px 0;
}
.icon-intervention { font-size:60px; float:left; margin:12px;}
.rcred { color:#ed1b2e;}
.rcred2 { color:#7f181b;}
.under-thick { border-bottom:2px solid #d7d7d8; }
.under-thin { border-bottom:1px solid #d7d7d8; }
.img-expanded {
  width: 100%;
}
.img-rounded {
  border-radius: 4px;
}

.small {
  font-size: 85%;
}

// Preventing FOUC
// ###############
// http://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }
  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.custom-navigation__top-bar {
  padding: 0;
}
.custom-navigation__link  {
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}
.custom-navigation__link:hover {
  border-bottom: 4px solid #ed1b2e;
}
.custom-navigation__top-bar a {
  text-decoration: none;
  color: inherit;
}
.custom-navigation_spacer {
  height: 42px;
}

/* Side Menu */
#sidebar-wrapper {
    font-size: 14px;
    z-index: 1001;
    position: fixed;
    right: 0;
    width: 275px;
    height: 100%;
    margin-right: -275px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 275px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav ul { list-style: none; }
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}
.sidebar-nav > .sidebar-brand a { color: #999; }
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}
#sidebar-wrapper.active {
    right: 275px;
    width: 275px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle { margin: 5px 5px 0 0; }
.logout { text-indent: 0; }
.sidebar-nav .fa { display: inline; }
.sidebar-nav .nav-float-right {
      float: right;
      line-height: inherit;
      margin-right: 20px;
}
.sidebar-nav .nav-arrow:before { content: "\f053"; }
.sidebar-nav .active .nav-arrow:before { content: "\f078"; }
.sidebar-nav .second-level {
  padding-left: 0;
  text-indent: 40px;
}
.sidebar-nav .second-level li  { text-indent: 40px; }
.second-level-sector { font-weight: 600; color: #555; }


/* Footer */
.row-logo { text-align: center; padding: rem-calc(32) 0; }
.row-logo img { height: rem-calc(32); margin: rem-calc(0 16 8); }


/* edit gallery */
.edit-gallery-card {
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.edit-gallery-card-item:hover {
  border:2px solid $secondary-color;
}
.edit-gallery-card i.published {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #fff;
  padding: 2px;
}

/* edit documents */
#table-div {
  max-width: 100%;
}
.table-row__edit-btn {
  cursor: pointer;
  color: #6d6e70;
}
.table-row__edit-btn:hover {
  color: $primary-color;
}
.column-search {
  padding: rem-calc(6);
  margin: 0;
  height: inherit;
}

.dataTables_wrapper .dataTables_paginate .paginate_button { border: none; }
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { background: #eee; }
.dataTables_wrapper .dataTables_paginate .paginate_button:hover { background: #c0c0c0; }
.noUi-connect {
  background: rgba(0,188,212,0.5);
}
.noUi-handle {
  display: none;
}
.noUi-horizontal {
  height: 12px;
  margin: 6px 0px;
}
.noUi-target, .noUi-connect {
  box-shadow: none;
}

.progress-page {
  .progress-pie {
    float: left;
    margin: 2px 8px;
  }
  .progress-indicators {
    font-size: rem-calc(14);
    background: #fff;
    table-layout: auto !important;
  }
  td {
    padding: 1em 0.5em;
  }
  td.pie-cell {
    width: 60px;
  }
}

#filter-nav-tabs {
  .checkbox {
    display: inline-block;
    padding-right:10px
  }
}

#brgyBars, #schoolBars{
  rect {
    fill: #c11b2b;
  }
  text {
    font-size: 11px;
    font-family: inherit;
  }
  text.brgy-label, text.school-label{
    text-anchor: end;
    fill: black;
  }
  text.brgy-total, text.school-total{
    text-anchor: start;
    fill: black;
  }
}

.info-modal-trigger {
  cursor: pointer;
}

rect.graph-bar {
  fill: #0091cd;
}
rect.graph-bar-2 {
  fill: #537b35;
}

#core-shelter-page {
  #progressGraph {
    width:100%;
    font: 10px sans-serif;
  }
  #progressGraph .detail {
    font-size: 14px;
  }

  #progressGraph path {
      stroke: #7f181b;
      stroke-width: 2;
      fill: none;
  }
  #progressGraph .axis path,
  #progressGraph .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }
  .overlay {
    fill: none;
    pointer-events: all;
  }
  .focus circle {
    fill: rgba(237,27,46,0.6);
    stroke: #ed1b2e;
    stroke-width: 1.5px;
  }
}

#agriculture_page {
  #headText{
    color: rgba(62,62,62,1);
    p {
      font-size:13px;
    }
  }
  #clearAll {
    font-size:14px;
  }
  ul.tabs {
      border-radius: 4px;
      border: 1px solid rgba(213,213,213,1);
      text-align: center;
      margin:auto;
      width:100%;
      li a {
        display: block;
        padding-left: 25px;
        padding-right: 25px;
      }
  }
  .checkbox {
    display: inline-block;
    padding-right:10px
  }
}

#gallery-page {
  .gallery-thumb {
    cursor: pointer;
    margin: rem-calc(12);
    padding: rem-calc(4);
    height: 150px;
    width: 150px;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  #article-list .button-group{
    padding: rem-calc(12);
  }
}
.pdfobject-container.pdfobject-container { height: 100%;}

#households-overview-page, #commmunity-infrastructure-page {
  #map{
    width: 100%;
    z-index: 0;
  }
  #map svg {
    pointer-events: all;
  }
  .point {
    r: 4;
    fill-opacity: 0.9;
    cursor: pointer;
  }
  .btn-map-filter {
    position: absolute;
    left: 47px;
    top: 10px;
    z-index: 99;
  }
}

.leaflet-control-attribution {
  color: #78787d;
}
.leaflet-control-attribution a {
  text-decoration: none;
  cursor: pointer;
  color: #6d6e70 !important;
}

/* analytics and documents page */
.card-divider.red-bar {
  padding: rem-calc(4);
  background: #ed1b2e;
}


/* imagery page */
#data-collection-viewer {
  #map {
    height:600px;
  }
}
