<div class="row row-logo">
  <div class="medium-offset-1 medium-10 columns">
    <hr>
    <img src="media/logos/01-prc.png" class="logo"><img src="media/logos/02-arc.png" class="logo">
  </div>
</div>
